ul.breadcrumbs
  li
    = link_to t('pages.groups.administration_panel.forum'), group_frm_admin_root_url(@group)
  li.current
    = t("frm.admin.forum.index")
= link_to new_group_frm_admin_forum_url(@group), class: "btn blue" do
  i.fa-solid.fa-plus
  = t("frm.admin.forum.new_link")
- @forums.group_by(&:category).each do |category, forums|
  .category

  h2
    = category.try(:name) || t('.no_category')
  table#forums.forums.table.table-striped[cellspacing="0"]
    thead
      tr
        th.desc
          = t('forum', scope: 'frm.general')
        th
          = t('topics', scope: 'frm.general')
        th
          = t('posts', scope: 'frm.general')
        th
          = t('edit', scope: 'frm.admin.forums')
        th
          = t('delete', scope: 'frm.admin.forums')
    tbody
      - forums.each do |forum|
        |  <tr class="forum 
        = cycle("odd", "even")
        | "> 
        td
          = link_to forum.title, group_forum_url(@group, forum)
        .description
          = forem_format(forum.description)
        = t('.last_post')
        - if last_post = forum.posts.last
          = link_to(last_post.topic.subject, group_forum_topic_url(@group, forum, last_post.topic))
          = t('by')
          = last_post.user
          = time_ago_in_words(last_post.created_at)
        - else
          = t('.none')
        br
        span.moderators
          strong
            = t('.moderators')
            | :
          - if forum.mods.exists?
            - forum.mods.map do |moderator|
              = link_to moderator, group_frm_admin_mod_url(@group, moderator)
            - else
              |  None 
        td
          = forum.topics.count
        td
          = forum.posts.count
        td
          = link_to edit_group_frm_admin_forum_url(@group, forum), class: "btn" do
            i.fa-solid.fa-pencil
            = t('edit', scope: 'frm.admin.forums')
        td
          = link_to group_frm_admin_forum_url(@group, forum), method: :delete, data: {confirm: t("delete_confirm", scope: "frm.admin.forums")}, class: "btn" do
            i.fa-regular.fa-trash-can
            = t('delete', scope: 'frm.admin.forums')
= render partial: '/frm/application/forem_footer'
= content_for :left_panel do
  = render partial: 'groups/administration_panel'