<%= turbo_stream.replace "mod_modal" do %>
  <dialog id="mod_modal" data-controller="modal" class="modal">
    <div class="modal-box shadow-brutal border-2 border-base-content">
      <%= render partial: "form", locals: { remote: false } %>
    </div>
    <form method="dialog" class="modal-backdrop" data-action="click->modal#backdropClose">
      <button>close</button>
    </form>
  </dialog>
<% end %>
