<div class="reveal-modal" data-reveal="" id="proposal_histories">
<h2>
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.title'))) %>
</h2><div class="row full-width">
<div class="columns large-4">
<%= ::Temple::Utils.escape_html((render partial: 'panel_menu')) %>
</div><div class="columns large-8">
<%= ::Temple::Utils.escape_html((render partial: 'panel_content')) %>
</div></div><a class="close-reveal-modal">
×
</a></div>
