<div class="diffview ice">
<div class="loading" style="margin:auto;text-align:center;display:none;">
<%= ::Temple::Utils.escape_html((image_tag 'ajax-loader.gif')) %>
<br />
<b>
<%= ::Temple::Utils.escape_html((t('pages.proposal_histories.loading_revisions'))) %>
</b></div><div class="diffcontainer">
</div></div>
