<div id="proposal_histories" class="reveal-modal" data-reveal>
  <h2><%= t('pages.proposal_histories.title') %></h2>
  <div class="flex flex-wrap w-full">
    <div class="w-full lg:w-4/12">
      <%= render partial: 'panel_menu' %>
    </div>
    <div class="w-full lg:w-8/12">
      <%= render partial: 'panel_content' %>
    </div>
  </div>
  <a class="close-reveal-modal">&times;</a>
</div>
