<div class="card bg-base-200 p-4">
  <h2><%= @page_title = t('pages.proposal_histories.index.title', title: @proposal.title) %></h2>
  <%= render partial: 'panel_content' %>
  <div class="clearboth"></div>
</div>
<% content_for :left_panel do %>
  <%= link_to t('pages.proposal_histories.index.back_to_proposal'),
              @group ? group_proposal_url(@group, @proposal) : proposal_url(@proposal), class: 'btn btn-primary' %>
  <div class="card bg-base-200 p-4">
    <%= render partial: 'panel_menu' %>
  </div>
<% end %>
