.mybox
  h4
    ='Recent comments'
  .mycont
    - @recent_comments.each do |comment|
      .blog_comment

      .comment_avatar
        = avatar(comment.user, size: 40)
      .comment_desc
        =link_to_user comment.user, full_name: true
        |  on 
        =link_to(h(comment.blog_post.title), [@blog, comment.blog_post])
      .clearboth
.mybox
  h4
    ='Recent posts'
  .mycont
    - @recent_posts.each do |post|
      .blog_comment
        =link_to(h(post.title), [@blog, post])
.mybox
  h4
    ='Archives'
  .mycont
    - @archives.each do |rec|
      .blog_comment
        =link_to "#{month_long(rec.month)} #{rec.year.to_i} (#{rec.posts})", posts_by_year_and_month_blog_path(@blog, month: rec.month.to_i, year: rec.year.to_i)