- if @blogs.total_pages && (@blogs.total_pages > @blogs.current_page)
  #more_blogs.loading_groups
    span
      = link_to t('pages.blogs.index.show_more'), current_url(page: @blogs.current_page+1), remote: true
  #loading_blogs.loading_groups[style="display:none"]

  .waitDiv
    = image_tag "facebook-loader.gif", alt: "loading..."
script[type="text/javascript"]
  |  $(function() { $('#more_blogs a').click(function() { $('#more_blogs').hide(); $('#loading_blogs').show(); return true; }); }) 