- if ::Configuration.socialnetwork_active
  .flex.flex-col.gap-2.mb-6
    h3.text-lg.font-semibold.mb-2 = t('pages.registration.identity_provviders_title')
    = link_to_ip t('pages.top_panel.facebook_login'), :facebook, 'facebook'
    = link_to_ip t('pages.top_panel.google_login'), :google_oauth2, 'google'
    = link_to_ip t('pages.top_panel.twitter_login'), :twitter, 'twitter'
