<% if ::Configuration.socialnetwork_active %>
  <div class="flex flex-col gap-2 mb-6">
    <h3 class="text-lg font-semibold mb-2"><%= t('pages.registration.identity_provviders_title') %></h3>
    <%= link_to_ip t('pages.top_panel.facebook_login'), :facebook, 'facebook' %>
    <%= link_to_ip t('pages.top_panel.google_login'), :google_oauth2, 'google' %>
    <%= link_to_ip t('pages.top_panel.twitter_login'), :twitter, 'twitter' %>
  </div>
<% end %>
