<h1>Nuovo feedback ricevuto</h1>
<% if @feedback.image.attached? %>
  <%= link_to 'Visualizza immagine', url_for(@feedback.image) %>
<% end %>
<h1>Messaggio:</h1>
<%= @feedback.message %>
<h1>Dati aggiuntivi:</h1>
<%= @feedback.stack %>
