span.rightFloat.think
  = t('pages.proposals.edit.contribution_valuation')
span.ranking-count
  = comment.rankings.positives.count
|  <i class="icon-smile" title="
= t('pages.proposals.show.voteup')
| ">
span.ranking-count
  = comment.rankings.neutrals.count
|  <i class="icon-baffled" title="
= t('pages.proposals.show.votenil')
| ">
span.ranking-count
  = comment.rankings.negatives.count
|  <i class="icon-sad" title="
= t('pages.proposals.show.votedown')
| ">