h2
  = t('.title')
.row.full-width
  .row
    .columns.small-12
      .panel.callout
        = t('.help')
    .columns.small-6
      h4
        = t('pages.proposals.manage_noise.available')
    .columns.small-6
      h4
        = t('pages.proposals.manage_noise.removed')
    .columns.small-6
      #active.noise-sortable
        - @proposal.contributes.unintegrated.removable.each do |contribute|
          |  <div class="noise_element" data-id="
          = contribute.id
          | "> 
          = parsed_content(contribute, @proposal.is_anonima?)
  .columns.small-6
    #inactive.noise-sortable
      - @proposal.contributes.noise.each do |contribute|
        |  <div class="noise_element" data-id="
        = contribute.id
        | "> 
        = parsed_content(contribute, @proposal.is_anonima?)
= form_for 'comments', url: mark_noise_proposal_proposal_comments_path(@proposal.id), method: :post do |f|
  = f.hidden_field 'active'
  = f.hidden_field 'inactive'
  = link_to t('buttons.cancel'), '#', class: 'btn', data: {'reveal-close' => ''}
  = link_to t('buttons.go_back'), :back, class: 'btn', data: {back: ''}
  = f.submit t('buttons.save'), class: 'btn blue', onclick: 'set_noise_data();', data: {disable_with: t('loading')}
script[type="text/javascript"]
  |  $(function () { var oldList, newList, item; $("#active, #inactive").sortable({ connectWith: ".noise-sortable", forcePlaceholderSize: '100px' }).disableSelection(); }); 