<h2>
<%= ::Temple::Utils.escape_html((t('pages.proposal_comments.noise.title'))) %>
</h2><% if @proposal.contributes.noise.count > 0
@proposal.contributes.noise.each do |contribute|
 %> <div class="noise_element" data-id="
<%= ::Temple::Utils.escape_html((contribute.id)) %>
"> 
<%= ::Temple::Utils.escape_html((parsed_content(contribute, @proposal.is_anonima?))) %>
<% end; else
 %><%= ::Temple::Utils.escape_html((t('pages.proposal_comments.noise.no_contributes'))) %>
<% end %>
