<%= form_for [@proposal, proposal_comment], html: { id: 'new_comment_form' } do |f| %>
  <div class="space-y-3">
    <label class="font-semibold text-base-content">
      <i class="fa-solid fa-comment-dots"></i>
      <%= t('pages.proposals.show.add_contribute') %>
    </label>
    <%= f.text_area :content, rows: 5, class: 'textarea textarea-bordered w-full', placeholder: t('pages.proposals.show.add_contribute') %>
    <div class="flex justify-end">
      <%= f.submit t('pages.proposals.show.send_contribute_button'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
