span.think
  = t('pages.proposals.contribution_valuation')
= image_tag "spinner.gif", style: 'display: none;', class: 'loading'
= link_to_rankup(@proposal, comment)
= link_to_ranknil(@proposal, comment)
= link_to_rankdown(@proposal, comment)