<h1>
<%= ::Temple::Utils.escape_html(("List of comments on #{@proposal.title}")) %>
</h1><%= ::Temple::Utils.escape_html((link_to t('pages.proposal_histories.index.back_to_proposal'), @group ? group_proposal_url(@group, @proposal) : proposal_url(@proposal), class: 'btn blue')) %>
<div class="blogComments" id="proposalComments">
<%= ::Temple::Utils.escape_html((render partial: 'proposals/comments')) %>
</div><% content_for :left_panel do
 %><%= ::Temple::Utils.escape_html((render 'proposals/left_panel')) %>
<% end %>
