<% if can? :edit, @blog
 %><div class="mybox">

</div><div class="blogAdminLinks">
<% _slim_controls1 = link_to new_blog_blog_post_path(@blog), class: 'btn green' do %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ("<i".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("fa-solid".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("fa-plus".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("</i>".freeze); _slim_controls2 << ((::Temple::Utils.escape_html((t('pages.blog_posts.new_button')))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><% _slim_controls3 = link_to drafts_blog_blog_posts_path(@blog), class: 'btn' do %><% _slim_controls4 = ''.dup; 
; _slim_controls4 << ("<i".freeze); _slim_controls4 << (" class=\"".freeze); _slim_controls4 << ("fa-solid".freeze); _slim_controls4 << (" ".freeze); _slim_controls4 << ("fa-file-lines".freeze); _slim_controls4 << ("\"".freeze); _slim_controls4 << (">".freeze); 
; _slim_controls4 << ("</i>".freeze); _slim_controls4 << ((::Temple::Utils.escape_html((t('pages.blog_posts.drafts_button')))).to_s); 
; _slim_controls5 = link_to @blog, class: 'btn' do; _slim_controls6 = ''.dup; 
; _slim_controls6 << ("<i".freeze); _slim_controls6 << (" class=\"".freeze); _slim_controls6 << ("fa-solid".freeze); _slim_controls6 << (" ".freeze); _slim_controls6 << ("fa-file-lines".freeze); _slim_controls6 << ("\"".freeze); _slim_controls6 << (">".freeze); 
; _slim_controls6 << ("</i>".freeze); _slim_controls6 << ((::Temple::Utils.escape_html((t('pages.blog_posts.published_button')))).to_s); 
; _slim_controls7 = link_to edit_blog_path(@blog), class: 'btn' do; _slim_controls8 = ''.dup; 
; _slim_controls8 << ("<i".freeze); _slim_controls8 << (" class=\"".freeze); _slim_controls8 << ("fa-solid".freeze); _slim_controls8 << (" ".freeze); _slim_controls8 << ("fa-pencil".freeze); _slim_controls8 << ("\"".freeze); _slim_controls8 << (">".freeze); 
; _slim_controls8 << ("</i>".freeze); _slim_controls8 << ((::Temple::Utils.escape_html((t('pages.blogs.show.edit_button')))).to_s); 
; _slim_controls8; end; _slim_controls6 << ((::Temple::Utils.escape_html((_slim_controls7))).to_s); _slim_controls9 = link_to @blog, method: :delete, class: 'btn red', data: {confirm: t('blog.delete.confirm_message', count: @blog.blog_posts.count)} do; _slim_controls10 = ''.dup; 
; _slim_controls10 << ("<i".freeze); _slim_controls10 << (" class=\"".freeze); _slim_controls10 << ("fa-solid".freeze); _slim_controls10 << (" ".freeze); _slim_controls10 << ("fa-trash".freeze); _slim_controls10 << ("\"".freeze); _slim_controls10 << (">".freeze); 
; _slim_controls10 << ("</i>".freeze); _slim_controls10 << ((::Temple::Utils.escape_html((t('buttons.delete')))).to_s); 
; _slim_controls10; end; _slim_controls6 << ((::Temple::Utils.escape_html((_slim_controls9))).to_s); _slim_controls6; end; _slim_controls4 << ((::Temple::Utils.escape_html((_slim_controls5))).to_s); _slim_controls4 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls3)) %></div><% end %>
