| var container_ = $('
#quorum_container.reveal-modal.medium[data-reveal]
| '); $('body').append(container_); container_.html("
= j (render(partial: 'quorums/form', locals: {button_name: t('buttons.update')}))
| "); airesis_reveal(container_); new AiresisFormValidation(container_.find('form')); 