<%= turbo_stream.replace "quorum_help_modal" do %>
  <dialog id="quorum_help_modal" data-controller="modal" class="modal">
    <div class="modal-box shadow-brutal border-2 border-base-content max-w-3xl">
      <h3 class="text-lg font-bold mb-4"><%= t("pages.quorums.help.title") %></h3>
      <%= render partial: "quorums/help" %>
      <div class="modal-action">
        <button class="btn" data-action="click->modal#close"><%= t("buttons.close") %></button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop" data-action="click->modal#backdropClose">
      <button>close</button>
    </form>
  </dialog>
<% end %>
