<table class="row header">
<tr>
<td align="center" class="center">
<center>
<table class="container">
<tr>
<td class="wrapper last">
<table class="twelve columns">
<tr>
<td class="six sub-columns">
<img alt="<%= ::Temple::Utils.escape_html((APP_SHORT_NAME)) %>" src="<%= ::Temple::Utils.escape_html((ENV['SITE'])) %>/favicons/logo_email.png" />
</td><td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
<span class="template-label">
<%= ::Temple::Utils.escape_html((APP_LONG_NAME)) %>
</span></td><td class="expander">
</td></tr></table></td></tr></table></center></td></tr></table>
