- if @groups.total_pages && (@groups.total_pages > @groups.current_page)
  #more_groups.loading_groups
    span
      = link_to t('pages.groups.index.show_more'), current_url(page: @groups.current_page+1), remote: true
  #loading_groups.loading_groups[style="display:none"]

  .waitDiv
    = image_tag "facebook-loader.gif", alt: "loading..."
script[type="text/javascript"]
  |  $(function() { $('#more_groups a').click(function() { $('#more_groups').hide(); $('#loading_groups').show(); return true; }); }) 