<% if @groups.total_pages && (@groups.total_pages > @groups.current_page)
 %><div class="loading_groups" id="more_groups">
<span>
<%= ::Temple::Utils.escape_html((link_to t('pages.groups.index.show_more'), current_url(page: @groups.current_page+1), remote: true)) %>
</span></div><div class="loading_groups" id="loading_groups" style="display:none">

</div><div class="waitDiv">
<%= ::Temple::Utils.escape_html((image_tag "facebook-loader.gif", alt: "loading...")) %>
</div><% end %><script type="text/javascript">
 $(function() { $('#more_groups a').click(function() { $('#more_groups').hide(); $('#loading_groups').show(); return true; }); }) 
</script>
