<div class="group-item">
<div style="float:left;">
<%= ::Temple::Utils.escape_html((image_tag 'logo120.png', style: 'width: 60px')) %>
</div><div class="p1">
<%= ::Temple::Utils.escape_html((link_to t('open_space'), open_space_path)) %>
</div><div class="p2">
<%= ::Temple::Utils.escape_html((link_to t('pages.header.groups.proposals'), proposals_path)) %>
 - 
<%= ::Temple::Utils.escape_html((link_to t('pages.header.groups.events'), events_path)) %>
</div><div class="clearboth">
</div></div>
