table
  thead
    tr
      td[rowspan="2"]
        = t('pages.groups.edit_quorums.active')
      td.show-for-large-up[rowspan="2"]
        = t('pages.groups.edit_quorums.name')
      td[colspan="3"]
        = 'Debate'
      td[colspan="2"]
        = 'Votation'
    tr
      td
        span.show-for-large-up
          = t('pages.groups.edit_quorums.time')
        span.hide-for-large-up
          i.fa-solid.fa-clock
      td
        span.show-for-large-up
          = t('pages.groups.edit_quorums.participants')
        span.hide-for-large-up
          i.fa-solid.fa-users
      td
        span.show-for-large-up
          = t('pages.groups.edit_quorums.good_percentage')
        span.hide-for-large-up
          i.fa-solid.fa-gauge
      td
        span.show-for-large-up
          = t('pages.groups.edit_quorums.participants')
        span.hide-for-large-up
          i.fa-solid.fa-users
      td
        span.show-for-large-up
          = 'Percentage'
        span.hide-for-large-up
          i.fa-solid.fa-gauge
  tbody
    - @group.quorums.each do |quorum|
      |  <tr valign="top" title="
      = quorum.description
      | "> 
      td
        |  <input type="checkbox" data-quorum-check="
        =quorum.id
        | " 
        - if quorum.active
          |  checked="true" 
        |  /> 
      td.show-for-large-up
        b
          = quorum.name
          | :
      td
        = quorum.time
      td
        = desc_percentage(quorum.percentage)
      td
        = quorum.good_score
        | %
      td
        = desc_percentage(quorum.vote_percentage)
      td
        = quorum.vote_good_score
        | %
      td
        = link_to edit_group_best_quorum_url(@group, quorum), remote: true, title: t('buttons.edit') do
          i.fa-solid.fa-pencil
      = link_to [@group, quorum], method: :delete, remote: true, data: {confirm: raw(t('pages.groups.edit_quorums.confirm_deletion', quorum: quorum.name))}, title: t('buttons.delete') do
        i.fa-solid.fa-trash