<% _slim_controls1 = form_for groups_path, method: 'get', remote: true do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("row".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.label t('buttons.search'), t('pages.groups.index.search_with_query')))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("row".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("small-9".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((text_field_tag :search, params[:search], title: t('pages.groups.index.find_title')))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("small-3".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("search_words".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((check_box_tag :and, params[:and], title: "Scegli se cercare tutte le parole o almeno una"))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("row".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.label :interest_border, t('pages.groups.index.search_with_place')))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("row".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("small-9".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((text_field_tag :interest_border, params[:interest_border], title: t('pages.groups.index.find_title'), data: {pre: [InterestBorder.key_to_json(params[:interest_border])]}))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("small-3".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("search_borders".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((check_box_tag :area, params[:area], title: "Scegli se cercare in maniera precisa o all'interno dell'area indicata"))).to_s); 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("row".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("columns".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls3 = f.button onclick: 'return GroupsIndex.checkCharacters();', class: 'btn', data: {disable_with: t('loading')} do; _slim_controls4 = ''.dup; 
; _slim_controls4 << ("<i".freeze); _slim_controls4 << (" class=\"".freeze); _slim_controls4 << ("fa-solid".freeze); _slim_controls4 << (" ".freeze); _slim_controls4 << ("fa-search".freeze); _slim_controls4 << ("\"".freeze); _slim_controls4 << (">".freeze); 
; _slim_controls4 << ("</i>".freeze); _slim_controls4 << ((::Temple::Utils.escape_html((t('buttons.search')))).to_s); 
; _slim_controls4; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls3))).to_s); _slim_controls2 << ("</div>".freeze); _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %>
