var container_ = $('
<div class="reveal-modal medium" data-reveal="" id="permissions_list_container">
</div>'); $('body').append(container_); container_.html("
<%= ::Temple::Utils.escape_html((j render 'permissions_list_panel')) %>
"); airesis_reveal(container_); container_.find('a.cancel').click(function() { container_.foundation('reveal', 'close'); return false; }); 
