.card
  .image-container
    = avatar(@user, size: 120)
    - if @user == current_user
      .caption
        a
          = t('pages.users.show.edit_image')
- if ::Configuration::user_messages
  span
    = link_to show_message_user_path(@user), remote: true, class: 'btn disable' do
      i.fa-solid.fa-envelope
      = t('pages.users.show.send_message_button')
.card
  h2
    = t('pages.users.show.profile_info')
    = t('pages.users.show.profile_info_unconfirmed') unless @user.confirmed?
  #name_profile.profile_element
    h2.label_profile
      = t('pages.users.show.name_label')
      | : 
    .info_profile
      = h @user.name
  #surname_profile.profile_element
    h2.label_profile
      = t('pages.users.show.surname_label')
      | : 
    .info_profile
      = h @user.surname
  - if current_user == @user
    #email_profile.profile_element

    h2.label_profile
      = t('pages.users.show.email_label')
      | : 
    .info_profile
      = @user.email
      = raw "<span style=\"color:#888\">(#{@user.unconfirmed_email} #{t('pages.users.show.to_be_confirmed')})</span>" if @user.unconfirmed_email
#password_profile.profile_element
  h2.label_profile
    = t('pages.users.show.password_label')
    | : 
  .info_profile
    |  ***** 
- if @user.show_urls && ::Configuration::socialnetwork_active
  - if @user.has_provider?(Authentication::FACEBOOK)
    #facebook_profile.profile_element_no_click

    h2.label_profile
      = t('pages.users.show.facebook_url_label')
      | : 
    .info_profile
      = link_to @user.facebook_page_url, @user.facebook_page_url, target: '_blank' if @user.facebook_page_url.present?
  - if @user.has_provider?(Authentication::GOOGLE) && @user.google_page_url.present?
    #google_profile.profile_element_no_click

    h2.label_profile
      = t('pages.users.show.google_url_label')
      | : 
    .info_profile
      = link_to(@user.google_page_url, @user.google_page_url, target: '_blank', rel: 'author')
  - if @user.has_provider?(Authentication::TWITTER) && @user.twitter_page_url.present?
    #twitter_profile.profile_element_no_click

    h2.label_profile
      = t('pages.users.show.twitter_url')
      | : 
    .info_profile
      = link_to @user.twitter_page_url, @user.twitter_page_url, target: '_blank'
#confirmed_at_profile.profile_element_no_click
  h2.label_profile
    = t('pages.users.show.registered_from')
    | : 
  .info_profile
    = l(@user.confirmed? ? @user.confirmed_at : @user.created_at)
- if current_user == @user
  #img_modal.reveal-modal.medium[data-reveal]
    = simple_form_for @user do |f|
      .row

      .columns.large-6

      h2
        = t('pages.users.show.load_image')
      .panel.callout
        p
          = t('pages.users.show.max_file_size')
      = f.input :avatar, required: true, input_html: { accepted: 'image/jpeg,image/png', data: { fv_trigger: 'change', fv_file: true, fv_file_maxsize: UPLOAD_LIMIT_IMAGES } }
      = link_to t('buttons.cancel'), '#', class: 'btn', data: { 'reveal-close' => '' }
      = f.submit t('buttons.save'), class: 'btn blue'
  a.close-reveal-modal
    | ×
  - _insert_email_js = params[:insert_email] ? "$('#email_profile').click(); " : ""
  script[type="text/javascript"]
    |  $(function () { $('#name_profile').click(function () { $("#name_modal").foundation('reveal', 'open'); }); $('#surname_profile').click(function () { $("#surname_modal").foundation('reveal', 'open'); }); $('#email_profile').click(function () { $("#email_modal").foundation('reveal', 'open'); }); #{_insert_email_js} $('#password_profile').click(function () { $("#password_modal").foundation('reveal', 'open'); }); $('.image-container div a').click(function () { $("#img_modal").foundation('reveal', 'open'); }); $('.profile_element').css('cursor', 'pointer'); });
- else
  script[type="text/javascript"]
    |  $(function () { $('.profile_element').addClass('profile_element_no_click').removeClass('profile_element'); });