- if user_signed_in?
  .mybox
    h4
      = t('pages.groups.index.groups_list')
  .mycont
    - @groups = current_user.groups
    - if @groups.empty?
      = raw t('pages.groups.index.no_groups_yet', {name: (link_to t('group'), groups_path)})
    - @groups.each do |group|
      .panel

      .groupcontainer

      .groupImg24
        = group.group_image_tag(24) rescue nil
      .group
        = link_to group.name, group_url(group)
  .clearboth
