- @page_title = t('pages.users.left_panel.geographic_borders')
.card
  = simple_form_for current_user do |f|
    #border_fields
      = f.label t('pages.users.border_preferences.your_borders')
      = f.text_field :interest_borders_tokens, data: {pre: current_user.interest_borders.to_json}
    #loading_borders[style="margin:auto;text-align:center;display:none;"]
      = image_tag 'ajax-loader.gif'
      br
    b
      = t('pages.users.border_preferences.updating')
= f.button :button, id: 'submit_borders', class: 'btn blue', data: {disable_with: t('loading')} do
  i.fa-solid.fa-floppy-disk
  = t('buttons.save')
- content_for :left_panel do
  = render 'users/preferences_panel'