- @page_title = t('.title')
.card
  h2
    = @page_title
  p
    = t('.instructions_html')
.card
  .row
    .columns.medium-3
      = avatar(@orig, size: 200)
    .columns.medium-9
      = simple_form_for(:user, url: join_accounts_users_path) do |f|
        = f.input :email, label: 'Email', readonly: true, disabled: true
        = f.input :password
        = button_tag type: :submit, class: 'btn blue' do
          i.fa-solid.fa-check
          = t('buttons.join_accounts')
        = link_to t('buttons.cancel'), root_path, class: 'btn'
        = link_to t('pages.home.index.forgot_password'), new_user_password_path