<% @page_title = t('pages.passwords.edit.title')
 %><div class="card">
<h2>
<%= ::Temple::Utils.escape_html((@page_title)) %>

</h2><% _slim_controls1 = simple_form_for(@user, url: user_password_path, html: { method: :put }) do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((render partial: 'fragments/error_messages', locals: { resource: resource }))).to_s); 
; 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.hidden_field :reset_password_token))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :password, label: t('pages.password.edit.new_password'), required: true))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.input :password_confirmation,
label: t('pages.password.edit.confirm_password'), required: true,
input_html: { data: { fv_identical_field: 'user[password]', fv_identical: true } }))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.submit t('pages.password.edit.confirm_button'), class: 'btn blue'))).to_s); 
; 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><%= ::Temple::Utils.escape_html((render partial: 'devise/shared/links')) %>
</div>
