.title.clearfix
  span.left
    = t('pages.home.index.from_blogs')
  = link_to t('.proceed_to_blogs'), blogs_path, class: 'btn right'
.scrollable
  - @blog_posts.each do |blog_post|
    .blog_post_list

    .comment_avatar
      = avatar(blog_post.user, size: 40)
    .blog_post_desc

    .blog_post_title
      = link_to blog_post.title, [blog_post.blog, blog_post], title: blog_post.title
    .blog_post_footer
      = raw t('pages.blog_posts.list_elements.inserted', name: (link_to blog_post.user.name, blog_post.user), date: (l blog_post.created_at))
.clearboth