.title.clearfix
  span.left
    = t('pages.home.index.most_active_groups')
  = link_to t('pages.home.index.show_groups'), groups_path, class: 'btn right'
.scrollable
  = render partial: 'groups/group_portlet_tag', collection: @most_active_groups, as: 'group'