.title.clearfix
  span.left
    = t('pages.home.index.most_used_tags')
  = link_to t('pages.home.index.show_tags'), tags_path, class: 'btn right'
.scrollable
  - @tags.each do |tag|
    .round.label.tag
      |  <a href="
      = tag_path tag.text
      | ">
      = tag.text