<div class="title">
  <%= t('pages.home.show.your_territory') %>
</div>

<% ib = current_user.interest_borders.includes(:territory).first %>
<% query = case ib&.territory_type
           when 'Municipality' then "#{ib.territory.description}, #{ib.territory.province.description}"
           when 'Province'     then ib.territory.description
           when 'Region'       then ib.territory.description
           when 'Country'      then ib.territory.description
           else nil
           end %>

<div class="w-full h-[340px] m-[5px] relative overflow-hidden"
     data-controller="map"
     <%= tag.attributes("data-map-query-value": query) if query %>>
</div>
