<% @page_title = t('home.roadmap.title')
@meta_description = t('home.roadmap.description')
 %><div class="row">
<div class="row centered">
<h2 id="strumento">
<%= ::Temple::Utils.escape_html((t('.paragraph1.title'))) %>
</h2><%= ::Temple::Utils.escape_html((t('.paragraph1.content_html'))) %>
</div></div><div class="row">
<div class="row centered">
<h2 id="strumento">
<%= ::Temple::Utils.escape_html((t('.paragraph2.title'))) %>
</h2><%= ::Temple::Utils.escape_html((t('.paragraph2.content_html'))) %>
 TODO 
</div></div>
