script[type="text/javascript" src="../src/plugins/jqplot.dateAxisRenderer.min.js"]
- @page_title = t('.title')
.row
  .row.centered
    h2#statistics
      = @page_title
    #chart1[style="height: 400px; width: 600px; "]

    h4
      = t('.proposals_number')
    = Proposal.count
    h4
      = t('.proposals_debate')
    = Proposal.in_valutation.count
    h4
      = t('.proposals_vote')
    = Proposal.in_votation.count
    h4
      = t('.proposals_voted')
    = Proposal.voted.count
    h4
      = t('.proposals_rejected')
    = Proposal.abandoned.count
    hr
    h4
      = t('.users_count')
    = User.count
    h4
      = t('.users_lastmonth')
    = User.where(['last_sign_in_at > ?',Time.now - 1.month]).count
    hr
    h4
      = t('.groups_count')
    = Group.count
script[type="text/javascript"]
  |  $(function() { var line1=#{@stat1.map{|h| [h['date'],h['sum'].to_i]}.to_s.gsub(/"/, "'").html_safe}; var plot1 = $.jqplot('chart1', [line1], { title: '#{j t('.proposals_per_month')}', axes:{xaxis:{ renderer:$.jqplot.DateAxisRenderer, tickOptions:{ formatString:'%b %y' } }}, series:[{lineWidth:4, markerOptions:{style:'square'}}], highlighter: { show: true, sizeAdjust: 7.5 }, cursor: { show: false } }); }); 