- participants.each do |participation|
  .participant_left

  .participant_image
    = avatar(participation.user, size: 48)
  .participant_text
    = link_to_user participation.user, full_name: true
    - if participation.guests > 0
      = raw t('pages.events.show.with_guests', field: participation.guests)
  div[style="margin-top:5px;"]
  span
    | "
    = participation.comment
    | "
  div[style="clear: both;"]