<% participants.each do |participation|
 %><div class="participant_left">

</div><div class="participant_image">
<%= ::Temple::Utils.escape_html((avatar(participation.user, size: 48))) %>
</div><div class="participant_text">
<%= ::Temple::Utils.escape_html((link_to_user participation.user, full_name: true)) %>
<% if participation.guests > 0
 %><%= ::Temple::Utils.escape_html((raw t('pages.events.show.with_guests', field: participation.guests))) %>
<% end %></div><div style="margin-top:5px;">
</div><span>
"
<%= ::Temple::Utils.escape_html((participation.comment)) %>
"
</span><div style="clear: both;">
</div><% end %>
