- @extend=true
.card
  = render 'edit_form'
- content_for :left_panel do
  .mybox
    = link_to (@group ? group_event_path(@group, @event) : event_path(@event)),
    -                   class: 'btn', data: {disable_with: t('loading')} do
    = t('buttons.go_back')