<% if @group %>
  <% @quorum_collection = @group.quorums.active %>
<% else %>
  <% @quorum_collection = Quorum.visible.order('seq nulls last') %>
<% end %>

<fieldset class="fieldset">
  <label class="fieldset-label font-medium"><%= t('activerecord.attributes.proposal.quorum_id', default: 'Quorum') %></label>
  <%= f.select :quorum_id,
      @quorum_collection.collect { |p| [p.name, p.id, { 'data-description' => p.description, 'data-explanation' => p.explanation, 'data-time_fixed' => p.time_fixed?, 'data-minutes' => p.minutes }] },
      { include_blank: t('pages.proposals.new.quorum_prompt') },
      { required: true, class: 'select select-bordered w-full' } %>
</fieldset>

<div id="available_quorums_container" title="<%= t('pages.quorums.index.title') %>"></div>
<p id="quorum_explanation" class="alert alert-info text-sm mt-3" style="display:none;"></p>
<div id="choose_votation">
  <div></div>
</div>
