<% _slim_controls1 = cache "solution_#{I18n.locale}_#{@proposal.proposal_type.name.downcase}" do %><% _slim_controls2 = ''.dup; 
; solution = @proposal.build_solution
; _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("solution_main".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("card".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls3 = fields_for :proposals, Proposal.new do |p|; _slim_controls4 = ''.dup; 
; _slim_controls5 = p.fields_for :solutions, solution do |sol|; _slim_controls6 = ''.dup; 
; _slim_controls6 << ("<h3".freeze); _slim_controls6 << (">".freeze); 
; 
; _slim_controls6 << ("</h3>".freeze); _slim_controls6 << ("<div".freeze); _slim_controls6 << (" class=\"".freeze); _slim_controls6 << ("tit1".freeze); _slim_controls6 << (" ".freeze); _slim_controls6 << ("sol".freeze); _slim_controls6 << ("\"".freeze); _slim_controls6 << (">".freeze); 
; 
; _slim_controls6 << ("</div>".freeze); _slim_controls6 << ("<div".freeze); _slim_controls6 << (" class=\"".freeze); _slim_controls6 << ("tit2".freeze); _slim_controls6 << ("\"".freeze); _slim_controls6 << (">".freeze); 
; _slim_controls6 << ("<span".freeze); _slim_controls6 << (" class=\"".freeze); _slim_controls6 << ("title_placeholder".freeze); _slim_controls6 << ("\"".freeze); _slim_controls6 << (">".freeze); 
; _slim_controls6 << ((::Temple::Utils.escape_html((raw t("pages.proposals.edit.new_solution_title.#{@proposal.proposal_type.name.downcase}",num: 0)))).to_s); 
; _slim_controls6 << ("</span>".freeze); _slim_controls6 << ((::Temple::Utils.escape_html((sol.text_field :title, placeholder: t("pages.proposals.edit.insert_title.#{@proposal.proposal_type.name.downcase}")))).to_s); 
; _slim_controls6 << ("</div>".freeze); _slim_controls6 << ("<span".freeze); _slim_controls6 << (" class=\"".freeze); _slim_controls6 << ("remove_sol_button".freeze); _slim_controls6 << ("\"".freeze); _slim_controls6 << (">".freeze); 
; _slim_controls6 << ("<a".freeze); _slim_controls6 << (" href=\"".freeze); _slim_controls6 << ("#".freeze); _slim_controls6 << ("\"".freeze); _slim_controls6 << (" onclick=\"".freeze); _slim_controls6 << ("ProposalsEdit.removeSolution(this,false);return false;".freeze); _slim_controls6 << ("\"".freeze); _slim_controls6 << (">".freeze); 
; _slim_controls6 << ((::Temple::Utils.escape_html((t('pages.proposals.edit.remove_solution')))).to_s); 
; _slim_controls6 << ("</a>".freeze); _slim_controls6 << ("</span>".freeze); _slim_controls6; end; _slim_controls4 << ((::Temple::Utils.escape_html((_slim_controls5))).to_s); _slim_controls4; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls3))).to_s); _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("sol_content".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; 
; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("solutions_column".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" data-solution_id=\"".freeze); _slim_controls2 << ("".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((sol.hidden_field :seq))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((sol.check_box '_destroy', style: 'display:none'))).to_s); 
; solution.sections.each_with_index do |section, j|
; _slim_controls2 << ((::Temple::Utils.escape_html((sol.hidden_field :seq))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((sol.check_box '_destroy', style: 'display:none'))).to_s); 
; solution.sections.each_with_index do |section, j|
_slim_controls7 = sol.fields_for :sections, section do |s|; _slim_controls8 = ''.dup; 
; _slim_controls8 << ((::Temple::Utils.escape_html((render 'solution_section', solution_section_for_mustache(section, @proposal.solutions.count, j)))).to_s); 
; _slim_controls8; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls7))).to_s); end; end; _slim_controls2 << ("</div>".freeze); _slim_controls2 << ("<div".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("new_section".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("<a".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("add_section".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("btn".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("full-width".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" data-add-solution-section=\"".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" data-solution_id=\"".freeze); _slim_controls2 << ("".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (" href=\"".freeze); _slim_controls2 << ("#".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((t('pages.proposals.edit.add_paragraph_to_solution')))).to_s); 
; _slim_controls2 << ("</a>".freeze); _slim_controls2 << ("</div>".freeze); _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><% _section_nav_js = solution.sections.each_with_index.map { |section, j| link = link_to(section.title, '#', onclick: 'return scrollToSection(this);', class: 'sec_title'); "sub_nav.append('<li data-section_id=\"#{j}\">#{link}</li>');" }.join(" ")
 %><script type="text/javascript">
 var sol_link = $('<li data-solution_id="new"><span class="sol_title"><%= ::Temple::Utils.escape_html((solution.title)) %></span></li>'); var sub_nav = $('<ul class="sub_navigator"></ul>'); sol_link.append(sub_nav); $('.navigator').append(sol_link); <%= ::Temple::Utils.escape_html((_section_nav_js)) %>
</script>
