<% @proposal = Proposal.find(@data[:proposal_id])
@group = Group.find(@data[:group_id]) if @data[:group_id]
@alert_url = check_alert_url(@alert)
_slim_controls1 = email_h3 do %><% _slim_controls2 = ''.dup; 
; if @group
; _slim_controls2 << ((::Temple::Utils.escape_html((@group.group_image_tag(40, true)))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((@group.name))).to_s); 
; end; _slim_controls3 = email_h1 do; _slim_controls4 = ''.dup; 
; _slim_controls4 << ((::Temple::Utils.escape_html((@proposal.title))).to_s); 
; _slim_controls4; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls3))).to_s); _slim_controls5 = blue_panel do; _slim_controls6 = ''.dup; 
; _slim_controls6 << (" <a href=\"".freeze); 
; _slim_controls6 << ((::Temple::Utils.escape_html((@alert_url))).to_s); 
; _slim_controls6 << ("\" style=\"color: #2ba6cb; text-decoration: none;\">Click here".freeze); 
; _slim_controls6 << (" to view the complete proposal on Airesis and help improving it. ".freeze); 
; _slim_controls6; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls5))).to_s); @proposal.sections.includes(:paragraphs).each do |section|
unless section.paragraphs.first.content.gsub(/<.{1,3}>/, '').blank?
_slim_controls7 = section_panel do; _slim_controls8 = ''.dup; 
; _slim_controls8 << ("<h5".freeze); _slim_controls8 << (" align=\"".freeze); _slim_controls8 << ("left".freeze); _slim_controls8 << ("\"".freeze); _slim_controls8 << (" style=\"".freeze); _slim_controls8 << ("color: #222222; font-family: &#39;Helvetica&#39;, &#39;Arial&#39;, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 24px; margin: 0; padding: 0 0 10px;".freeze); _slim_controls8 << ("\"".freeze); _slim_controls8 << (">".freeze); 
; _slim_controls8 << ((::Temple::Utils.escape_html((section.title))).to_s); 
; _slim_controls8 << ("</h5>".freeze); _slim_controls8 << ((::Temple::Utils.escape_html((raw section.paragraphs.first.content))).to_s); 
; _slim_controls8; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls7))).to_s); end; end; _slim_controls9 = blue_panel do; _slim_controls10 = ''.dup; 
; _slim_controls10 << (" <a href=\"".freeze); 
; _slim_controls10 << ((::Temple::Utils.escape_html((@alert_url))).to_s); 
; _slim_controls10 << ("\" style=\"color: #2ba6cb; text-decoration: none;\">Click here".freeze); 
; _slim_controls10 << (" to view the complete proposal on Airesis and help improving it. ".freeze); 
; _slim_controls10; end; _slim_controls2 << ((::Temple::Utils.escape_html((_slim_controls9))).to_s); _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %>
