- percentage = ((@group.actual_storage_size.to_f / @group.max_storage_size.to_f) * 100).round(2)
ul.pricing-table
  li.title
    = t('pages.groups.documents.storage_size')
  li.price
    =percentage
    | %
  li.description
    .progress
      |  <span class="meter" style="width: 
      =percentage
      | %">
      = percentage
      | % 
  li.bullet-item
    = t('pages.groups.documents.max_storage_size')
    | : 
    b
      = (@group.max_storage_size.to_f / 1024).round(2)
      | MB
    br
  li.bullet-item
    = t('pages.groups.documents.current_storage_usage')
    | : 
    b
      = (@group.actual_storage_size.to_f / 1024).round(2)
      | MB
    br