var container_ = $('
<div class="reveal-modal" data-reveal="" id="area_role_container">
</div>'); container_.html("
<%= ::Temple::Utils.escape_html((j render(partial: 'area_roles/form', locals: {button_name: t('buttons.edit'), remote: true}))) %>
"); $('body').append(container_); airesis_reveal($('#area_role_container')); new AiresisFormValidation(container_.find('form')); 
