<h2>
<%= ::Temple::Utils.escape_html((t('pages.groups.edit_work_areas.form.title'))) %>
</h2><% _slim_controls1 = simple_form_for [@group, @group_area], validate: true, remote: request.xhr? do |e| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((e.input :name))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((e.input :description, as: :text, input_html: {class: "elastic"}))).to_s); 
; if ['new', 'create'].include? params[:action]
; _slim_controls2 << ((::Temple::Utils.escape_html((e.input :default_role_name))).to_s); 
; end; _slim_controls2 << (" <input type=\"hidden\" name=\"manage\" value=\"".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((params[:manage]))).to_s); 
; _slim_controls2 << ("\"/> ".freeze); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.cancel'), '#', class: 'btn', data: {'reveal-close' => ''}))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((link_to t('buttons.go_back'), :back, class: 'btn', data: {back: ''}))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((e.submit t('buttons.create'), class: 'btn blue', data: {disable_with: t('saving')}))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><script type="text/javascript">
 $(function () { $(".elastic").elastic(); }); 
</script>
