<nav class="breadcrumbs text-sm">
  <ul>
    <li><%= link_to 'All working areas', group_group_areas_url(@group) %></li>
    <li class="current"><%= @group_area.name %></li>
  </ul>
</nav>
<%= render 'group_areas/edit' %>
<% content_for :left_panel do %>
  <%= render partial: 'groups/administration_panel' %>
<% end %>
