<% @extend = true %>
<div class="card bg-base-200 p-4">
  <h1><%= @page_title %></h1>
  <div data-tag-cloud>
    <p>
      <% @tags.each do |tag| %>
        <%= link_to tag.text, tag_path(tag.text), rel: tag.groups_count, class: 'badge',
                    title: t('.tag_title', proposals: tag.proposals_count,
                                            blog_posts: tag.blog_posts_count,
                                            groups: tag.groups_count) %>
      <% end %>
    </p>
  </div>
</div>
