<% @extend = true %>
<div class="card bg-base-200 p-4 text-center">
  <h1><%= t('error.error_302.title') %></h1>
  <p><%= t('error.error_302.description') %></p>
  <%= link_to t('buttons.go_back'), :back, class: 'btn btn-primary' %>
  <div class="clear-both"></div>
</div>
