<% if resource.errors.any? %>
  <div id="errorExplanation" class="alert alert-error">
    <% title ||= nil %>
    <% if title %>
      <h3><%= title %></h3>
    <% end %>
    <ul>
      <% resource.errors.each do |error| %>
        <li><b><%= resource.class.human_attribute_name(error.attribute) %></b>: <%= error.message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
