<% if resource.errors.any?
 %><div class="ui-state-error ui-corner-all" id="errorExplanation">
<% title ||= nil
if title
end %></div><h3>
<%= ::Temple::Utils.escape_html((title)) %>
</h3><% end %><ul>
<% resource.errors.each do |attr,msg|
 %><%= ::Temple::Utils.escape_html((raw "<li> <b>#{resource.class.human_attribute_name(attr)}</b>: #{msg} </li>" if resource.errors[attr].first == msg)) %>
<% end %></ul>
