- if resource.errors.any?
  #errorExplanation.ui-state-error.ui-corner-all
    - title ||= nil
    - 	if title
  h3
    =title
ul
  - resource.errors.each do |attr,msg|
    =raw "<li> <b>#{resource.class.human_attribute_name(attr)}</b>: #{msg} </li>" if resource.errors[attr].first == msg