<div id="loading-fragment" style="margin:auto;text-align:center;display:none">
<%= ::Temple::Utils.escape_html((image_tag 'ajax-loader.gif')) %>
<br />
<b>
<%= ::Temple::Utils.escape_html((t('loading'))) %>
</b></div>
