<span class="littleText">
Score
</span><span class="rightAlign">
<%= ::Temple::Utils.escape_html((object.valutations)) %>
</span><span class="littleText">
Rank
</span><span class="rightAlign">
<%= ::Temple::Utils.escape_html((object.rank)) %>
%
</span>
