<div class="text">
<b>
<%= ::Temple::Utils.escape_html((t('pages.steps.interest_borders.title'))) %>
<br />
</b><%= ::Temple::Utils.escape_html((t('pages.steps.choose_follow.description_html'))) %>
</div><ul class="small-block-grid-1 large-block-grid-2 xlarge-block-grid-3 xxlarge-block-grid-4" id="groups_list">
<%= ::Temple::Utils.escape_html((render partial: "/groups/group_tag", collection: current_user.suggested_groups, as: :group)) %>
</ul><% _slim_controls1 = form_for 'groupsi', url: {controller: 'groups', action: 'ask_for_multiple_follow'} do |f| %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.hidden_field 'group_ids'))).to_s); 
; _slim_controls2 << ((::Temple::Utils.escape_html((f.button t('buttons.chosen'), class: 'btn blue', style: "float:right;"))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><div style="clear: both;">
</div><br />
<script type="text/javascript">
 $(function () { $('.groupListContainer').click(function () { $(this).toggleClass('highlighted'); var text = $('.groupListContainer.highlighted').map(function () { return $(this).data('id') }).get().join(';'); $('#groupsi_group_ids').val(text); return false; }) }); 
</script>
