<h2>
<%= ::Temple::Utils.escape_html((t('pages.steps.first_proposal.title_html'))) %>
</h2><p>
<%= ::Temple::Utils.escape_html((t('pages.steps.first_proposal.description_html', proposal: (link_to t('open_space'), proposals_path, target: :_blank)))) %>
</p><p>
<%= ::Temple::Utils.escape_html((render 'proposals/new_proposal')) %>
</p><% _slim_controls1 = link_to complete_tutorial_step_path(@step.tutorial, @step), class: 'btn blue', style: "float:right;" do %><% _slim_controls2 = ''.dup; 
; _slim_controls2 << ("<i".freeze); _slim_controls2 << (" class=\"".freeze); _slim_controls2 << ("fa-solid".freeze); _slim_controls2 << (" ".freeze); _slim_controls2 << ("fa-arrow-right".freeze); _slim_controls2 << ("\"".freeze); _slim_controls2 << (">".freeze); 
; _slim_controls2 << ("</i>".freeze); _slim_controls2 << ((::Temple::Utils.escape_html((t('buttons.next')))).to_s); 
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><div style="clear: both">
</div>
