span.label.info.width-80
  h5#status
    = @proposal.in_valutation? ? t('pages.proposals.show.during_debate') : @proposal.state.description
- if @proposal.is_anonima?
  span.label.info.width-80
  i.fa-solid.fa-user-secret.nickname-panel
  = t('pages.proposals.show.anonimity_active')
- if @proposal.visible_outside?
  span.label.info.width-80
  i.fa-solid.fa-eye
  = t('info.proposal.public_visible_short')
div[style="padding-bottom: 10px;"]
  = t('pages.proposals.show.created_at_html', time: raw("<div class='date-creation'></div>"), date: (l @proposal.created_at))
- if @proposal.updated_at != @proposal.created_at
  .mycont
    = t('pages.proposals.show.updated_at_html', time: raw("<div class='date-update'></div>"), date: (l @proposal.updated_at))
- unless @proposal.is_petition?
  - if @proposal.in_valutation?
    #condition_left.mycont
      - if @proposal.quorum.instance_of? OldQuorum
        - if @proposal.quorum.time_left? # if time set and time left
          - if quorum.valutations_left? #if two parameters and valutations left
            .time_end
              =t('pages.proposals.show.debate_ends_html')
              | :
            .end-debate
            .join_clause
              = @proposal.quorum.or? ?
              -                                     t('pages.proposals.show.debate_ends_valutations_or') :
              -                                     t('pages.proposals.show.debate_ends_valutations_and')
              | : 
            b
              =@proposal.quorum.valutations_left
          - else
            .time_end
              =t('pages.proposals.show.debate_ends_html')
              | :
            #end_debate
        - elsif @proposal.quorum.valutations_left? #only valutations
          .time_end
            =t('pages.proposals.show.debate_ends_valutations')
            | :
          b
            =@proposal.quorum.valutations_left
          - else #stalled
          |  End of debate:
          br
          | rank superior to 
          b
            =@proposal.quorum.good_score
            | %
          br
          |  Abandoned:
          br
          | rank inferior to 
          b
            =@proposal.quorum.bad_score
            | %
      - else
        - if @proposal.quorum.time_left? #if time set and time left
          .time_end
            =t('pages.proposals.show.debate_ends_html')
            | :
          .end-debate
        - else
          |  End of debate:
          br
          | rank superior to 
          b
            =@proposal.quorum.good_score
            | %
          br
  - if @proposal.proposal_state_id == ProposalState::WAIT #in attesa di essere votata
    .mycont
      = t('pages.proposals.show.in_votation_html', start: (l @proposal.vote_period.starttime), end: (l @proposal.vote_period.endtime))
    br
  - elsif @proposal.proposal_state_id == ProposalState::VOTING #in votazione
    .mycont
      = t('pages.proposals.show.in_votation_until_html', date: raw("<div class='end-vote'></div>"))