| <div id="proposal
= proposal.id
| " class="proposal_list"> 
.proposal_cont
  .left_cont
    .inner_cont
      .category_icon
        = proposal_group_image_tag(proposal)
  .right_cont
    div[style="position: relative"]
      .maintitle
        = user_valutation_image(current_user, proposal) if current_user
        = link_to_proposal proposal, style: (proposal.rejected? ? 'text-decoration: line-through;' : ''), title: (proposal.rejected? ? 'Rifiutata' : nil)
    - if proposal.is_petition?

    - else
      - mustache_proposal = proposal_for_mustache(proposal)
      - if mustache_proposal['voting_or_voted?']
        = render 'proposals/new_vote_bar', mustache_proposal
      - else
        = render 'proposals/new_rank_bar', mustache_proposal
    .clearboth
    .proposal_bottom
      .alerts_and_vote
        - if current_user
          - count = proposal.alerts_count.to_i
          = link_to count, proposal, class: "alert notify", data: {load: true, proposal_id: proposal.id} if count > 0
  - unless proposal.supporting_groups.empty?
    .groups

    .title
      = t('pages.proposals.list.support_group')
    - proposal.supporting_groups.each do |group|
      |  <div class="blogUserImage" title="
      = group.name
      | "> 
      = group.group_image_tag 20
div[style="clear:both;"]
.clearboth