.mybox
  h4
    = t('pages.proposals.edit.navigator')
    |  <i class="fa-solid fa-plus right" data-navigator-expand title="
    = t('proposals.edit.expand_all')
    | ">
    |  <i class="fa-solid fa-minus right" data-navigator-collapse style="margin-right: 5px;" title="
    = t('proposals.edit.collapse_all')
    | ">
  .mycont
    ul.navigator.navsections
      - @proposal.sections.each_with_index do |section, i|
        = render 'section_navigator', mustache: {i: i, title: section.title}
    ul.navigator.navsolutions
      - @proposal.solutions.each_with_index do |solution, i|
        = render 'solution_navigator', mustache: {i: i, title: (solution.title.present? ? solution.title : ' '), sections: solution.sections.map.with_index { |section, j| {i: (i + 1) * 100 + j, title: section.title, classes: 'sol'} }
