- if @group
  - if (!params[:group_area_id] && (can? :insert_proposal, @group)) || (params[:group_area_id] && (can? :insert_proposal, @group_area))
  = link_to new_proposal_path(group_id: @group&.id, group_area_id: params[:group_area_id], category: params[:category], topic_id: @topic&.id, models: true), id: 'new_proposal_button', class: "create_proposal btn blue disable" do
  i.fa-solid.fa-plus
  = t('proposals.create_button')
.choose_model[style="display:none;"]
  h2.modal_title
    = t('pages.proposals.index.choose_model')
  .row
    - ProposalType.active.for_groups.order(:seq).each do |proposal_type|
      .columns.large-3.medium-6.small-12
        |  <div class="proposal_model_option" data-url="
        = new_proposal_path(group_id: @group&.id, group_area_id: params[:group_area_id], category: params[:category], topic_id: @topic&.id, proposal_type_id: proposal_type.name, models: true)
        | " style="background-color: 
        = proposal_type.color
        | "> 
      .model_name

      .name
        = proposal_type.description
      .icon
        = image_tag("proposal_types/#{proposal_type.name.downcase}.png", align: 'middle', alt: proposal_type.description, title: proposal_type.description)
a.close-reveal-modal
  | ×
- else
  = link_to new_proposal_path(proposal_type_id: ProposalType::STANDARD, category: params[:category]), id: 'new_proposal_button', class: "btn blue disable" do
  i.fa-solid.fa-plus
  = t('proposals.create_button')