p.inpoints
  span#valutazioni.littleText
    = t('pages.proposals.show.score')
  span.rightAlign
    = @proposal.valutations
p.ranking
  span#gradimento.littleText
    = t('pages.proposals.show.rank')
  span.rightAlign
    = @proposal.rank
    | %
- mustache_proposal = proposal_for_mustache(@proposal)
- if mustache_proposal['voting_or_voted?']
  = render 'proposals/new_vote_bar', mustache_proposal
- else
  = render 'proposals/new_rank_bar', mustache_proposal