<div class="vote_container">
<%= ::Temple::Utils.escape_html((render partial: '/proposals/valutations/voteup')) %>
<%= ::Temple::Utils.escape_html((render partial: '/proposals/valutations/votedown')) %>
<span class="vote_description">
</span><div class="clearboth">
</div></div>
