<section class="solution_main border-2 border-base-content/15 bg-base-100 p-5" data-solution_id="{{solution.id}}" data-compressed="false"
     data-persisted="{{solution.persisted}}">
    <input name="proposal[solutions_attributes][{{solution.id}}][id]"
           type="hidden" value="{{solution.recordId}}">
    <div class="mb-4">
        <h2 class="mb-3 text-lg font-bold">{{{solution.solution_title}}}</h2>
        <div class="inputs">
                    <label class="mb-2 block text-sm font-semibold"
                           for="proposal_solutions_attributes_{{solution.id}}_title">{{solution.titleLabel}}</label>
                    <input id="proposal_solutions_attributes_{{solution.id}}_title"
                           name="proposal[solutions_attributes][{{solution.id}}][title]"
                           placeholder="{{solution.title_placeholder}}" type="text"
                           value="{{solution.title}}"
                           class="input input-bordered w-full"
                           data-validate="true">
        </div>
    </div>
    <div class="sol_content">
        <div class="solutions_column" data-solution_id="{{solution.id}}">
            <input id="proposal_solutions_attributes_{{solution.id}}_seq"
                   name="proposal[solutions_attributes][{{solution.id}}][seq]"
                   type="hidden" value="{{solution.seq}}">
            <input name="proposal[solutions_attributes][{{solution.id}}][_destroy]" type="hidden" value="0"
                   data-solution-destroy>
            <input id="proposal_solutions_attributes_{{solution.id}}__destroy"
                   name="proposal[solutions_attributes][{{solution.id}}][_destroy]"
                   style="display:none" type="checkbox" value="1">
            {{#solution.sections}}
                {{> proposals/_solution_section}}
            {{/solution.sections}}
        </div>
    </div>
</section>
