var container_ = $('
<div class="reveal-modal" data-reveal="" id="available_authors_list_container">
</div>'); container_.html("
<%= ::Temple::Utils.escape_html((j render 'available_authors_list_panel')) %>
"); $('body').append(container_); airesis_reveal(container_);
