| $('body').append('
=j render 'promote'
| '); $('#promote_container').foundation().foundation('reveal', 'open'); $('.legend').hide(); $("#promote_form").quickWizard({ prevButton: '
button#form-wizard-prev.btn[type="button"]
  i.fa-solid.fa-arrow-left
  =j t('buttons.go_back')
| ', nextButton: '
button#form-wizard-next.btn.blue[type="button"]
  i.fa-solid.fa-arrow-right
  =j t('buttons.next')
| ', clickableBreadCrumbs: true, breadCrumbListClass: 'bread-crumb', nextCallback: function() {}, prevCallback: function() {}, submit: '.wizard[type = "submit"]' }); $('#promote_proposal').click(function (e) { $('#promote_container').foundation('reveal', 'open'); e.preventDefault(); return false; }); try{ FB.XFBML.parse(); }catch(ex){} twttr.widgets.load(); 