html
  head
    meta[http-equiv="content-type" content="text/html; charset=utf-8"]
    = wicked_pdf_stylesheet_link_tag 'application'
    = wicked_pdf_stylesheet_link_tag 'pdf/proposal'
  body
    .dates
      span.title_grey
        = raw t('pages.proposals.show.created_at')
      br
      = l @proposal.created_at
      br
      - if @proposal.updated_at != @proposal.created_at
        span.title_grey
          = t('pages.proposals.show.updated_at')
        br
        = l @proposal.updated_at
    #header
      div
        = params[:debug].present? ? image_tag('logo_head.png', class: 'logo-image') : wicked_pdf_image_tag('logo_head.png', class: 'logo-image')
        .headerTitle
          = t('home.intro.title')
    #content
      h1
        = @proposal.title
      #wicked_proposal_info
        - unless @proposal.is_polling?
          #rankleftpanel.rankleftpanel

          .points-ranking

          p.points
            span#valutazioni.littleText
              = t('pages.proposals.show.score')
            span.rightAlign
              = @proposal.valutations
          p.ranking
            span#gradimento.littleText
              = t('pages.proposals.show.rank')
            span.rightAlign
              = @proposal.rank
              | %
          .clear
    .properties-table
      .authors-cell
        h3
          = t('pages.proposals.show.editors_title')
        .authors_list
          - @proposal.users.each do |user|
            = user.fullname
          .clear
      .groups-cell
        - if ::Configuration.proposal_support
          #support_left_panel_container
            h3
              = t('pages.proposals.show.supporting_group')
            - @proposal.supporting_groups.each do |group|
              .pcontainer

              .MoImg24
                = group.group_image_tag 24
              .Mo
                = link_to group.name[0..20], group_path(group)
              div[style="clear: both;"]
        = t('pages.proposals.show.no_supporting_group') if @proposal.supporting_groups.empty?
    .tags-cell
      - unless @proposal.tags.empty? || !::Configuration.folksonomy
        h3
          = t('pages.proposals.show.tags_title')
        - @proposal.tags.each do |tag|
          .tag
            = tag.text
            |  x 
            = tag.try(:proposals_count)
    .interest-borders-cell
      - unless @proposal.interest_borders.empty?
        h3
          = t('pages.proposals.show.geographic_boundaries_title')
        - @proposal.interest_borders.each do |ib|
          .label
            = ib.description
    .clear
      .category-cell
        - if ::Configuration.proposal_categories
          h3
            = t('pages.proposals.show.category_title')
          table
            tr
              td[style="vertical-align: middle;"]
                = params[:debug].present? ? image_tag("proposal_categories/"+@proposal.category.name + "_s.png", align: 'middle', style: "width:22px;padding-right:2px;") : wicked_pdf_image_tag("proposal_categories/"+@proposal.category.name + "-22.png", align: 'middle', style: "width:22px;padding-right:2px;")
              td
                = @proposal.category.description
      .clear
    #wicked_center_panel[style="margin-left: 4px;"]
      h2.section_title
        | Properties
      .proposal-main-container.proposal_main.shadow-box
        span.title_grey
          = raw t('activerecord.attributes.proposal.debate_starts_at')
        .time-property
          = l @proposal.quorum.started_at
        br
        span.title_grey
          = raw t('activerecord.attributes.proposal.debate_ends_at')
        .time-property
          = l @proposal.quorum.ends_at
        br
      - if @proposal.vote_starts_at
        .proposal-main-container.proposal_main.shadow-box.vote-properties
          span.title_grey
            = raw t('activerecord.attributes.proposal.vote_starts_at')
        .time-property
          = l @proposal.vote_starts_at
        br
        span.title_grey
          = raw t('activerecord.attributes.proposal.vote_ends_at')
        .time-property
          = l @proposal.vote_ends_at
    - if @proposal.vote.present?
      h2.section_title.vote-results-title
        | Vote results
      .proposal-main-container.proposal_main.shadow-box

      .proposal_content.vote-results
        - if @proposal.voted?
          = render(partial: @proposal.is_schulze? ? 'schulze_vote_results' : 'vote_results', formats: [:html])
        - else
          h3
            = 'This proposal has not been voted yet'
    - @proposal.sections.each do |section|
      - unless section.paragraph.empty?
        h2.section_title
          = section.title
        .proposal-main-container.proposal_main.shadow-box

        .proposal_content
          = sanitize(section.paragraph.content)
    - @proposal.solutions.includes(:sections).each do |solution|
      h2.section_title.solution_title
        = solution.title_with_seq.html_safe
      - solution.sections.each do |section|
        - unless section.paragraph.empty?
          h2.section_title
            = section.title
          |  <div id="proposal
          = @proposal.id
          | " class="proposal-main-container proposal_main shadow-box"> 
          .proposal_content
            = sanitize(section.paragraph.content)
    #proposal_histories_container

    #proposalCommentsContainer
