- @page_title = "#{@forum.title} - #{@group.name}"
- @extend = true
.forum
  = render partial: 'frm/forums/head', locals: { forum: @forum }
  = forem_pages_widget(@topics)
  table.topics.table-striped.table[cellspacing="0"]
    thead
      tr
        th.icon
        th.byline.topic-title
          = t('frm.topic.headings.topic')
        th.posts-count
          = t('frm.topic.headings.posts')
        th.views-count
          = t('frm.topic.headings.views')
        th.latest-post
          = t('frm.topic.headings.latest')
    tbody
      - if @topics.empty?
        tr
          td[colspan="5" align="center"]
            = t('frm.topic.none')
      = render @topics
  = forem_pages_widget(@topics)
= render partial: '/frm/application/forem_footer'