<div class="card bg-base-200 p-4 mb-4">
  <h2 class="text-xl font-bold"><%= @newsletter.subject %></h2>
</div>

<div class="card bg-base-200 p-4 mb-4">
  <%= @newsletter.body.html_safe %>
</div>

<%= link_to t('buttons.edit'), edit_admin_newsletter_path, class: 'btn btn-primary mb-4' %>

<div class="card bg-base-200 p-4">
  <%= render 'publish_form', newsletter: @newsletter %>
</div>
