| var container_ = $('
#invitation_container.reveal-modal.small[data-reveal]
| '); container_.html("
= j render 'group_invitations/form'
| "); $('body').append(container_); airesis_reveal(container_); 