<div class="gal-holder" id="fileupload">
<div class="gal-item">
<div class="fileupload-button gal-upload-holder">
<%= ::Temple::Utils.escape_html((link_to I18n.t(:upload, scope: [:ckeditor, :buttons]), 'javascript:void(0)', :class => 'add')) %>
</div></div><div class="fileupload-list" data-endless="true">
<%= ::Temple::Utils.escape_html((render partial: 'ckeditor/shared/asset', collection: @pictures.scoped)) %>
</div><% unless @pictures.last_page?
 %><div class="pagination">
<%= ::Temple::Utils.escape_html((link_to I18n.t('ckeditor.buttons.next'), params.merge(page: @pictures.next_page), class: 'next', rel: 'next')) %>
</div><% end %><script type="text/javascript">
 <%= ::Temple::Utils.escape_html((Ckeditor::Utils.js_fileuploader('image', sizeLimit: UPLOAD_LIMIT_IMAGES))) %> 
</script></div>
