table.posts
  tr
    td.user_post[rowspan="2"]
      a[name="post-#{post.id}"]
      .user.span2
        .username
          = link_to post.user.fullname, post.user
        .icon
          = avatar(post.user, size: 100)
    td
      .post-header
        a[href="#post-#{post.id}"]
          .post-when
            |  <time datetime="
            = post.created_at.to_s(:db)
            | ">
            = "#{time_ago_in_words(post.created_at)} #{t("ago")}"
            - if post.reply_to
              span.in-reply-to
                = link_to "#{t('frm.posts.post.in_reply_to')} #{post.reply_to.user.name}", "#post-#{post.reply_to.id}"
  tr
    td
      .post-body
        = sanitize post.text