<div class="flex justify-between items-end mb-6">
<div>
<h1 class="text-3xl font-extrabold text-gray-900" itemprop="name"><%= ::Temple::Utils.escape_html((title)) %>
</h1></div><div class="flex items-center space-x-4">
<%= ::Temple::Utils.escape_html((yield)) %>
</div></div><div class="clear-both">
</div>
