- @categories.each do |category|
  |  <tr class="forum 
  = cycle("odd", "even")
  | "> 
  td
    = category.name
  td
    = link_to edit_group_frm_admin_category_url(@group, category), class: "btn", remote: true, data:{disable_with: t('loading')} do
      i.fa-solid.fa-pencil
      =t('edit', scope: 'frm.admin.categories')
  td
    = link_to group_frm_admin_category_url(@group, category), method: :delete, data: {confirm: t('delete_confirm', scope: 'frm.admin.categories')}, remote: true, class: "btn" do
      i.fa-regular.fa-trash-can
      =t('delete', scope: 'frm.admin.categories')