<%= turbo_stream.replace "categories_list" do %>
  <%= render "categories" %>
<% end %>
<%= turbo_stream.replace "category_modal" do %>
  <div id="category_modal"></div>
<% end %>
<%= render partial: "layouts/flash_stream" %>
